[Unit]
Before=sleep.target
Description=Lock using i3lock on resume

[Service]
User=%I
Environment=DISPLAY=:0
ExecStart=betterlockscreen -l blur
ExecStartPost=sleep 1

[Install]
WantedBy=sleep.target
